my-workflow-2-KcZBm2rfYHOHZvDb.json
{"createdAt":"2023-09-30T23:09:14.322Z","updatedAt":"2023-09-30T23:09:23.555Z","id":"KcZBm2rfYHOHZvDb","name":"My workflow 2","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"e6bba80d-b7ce-4e34-a418-058fd1d557ba","mode":"list","cachedResultName":"Social Image Generator","cachedResultUrl":"https://www.notion.so/e6bba80db7ce4e34a418058fd1d557ba"}},"id":"baa51605-f66a-42a3-a6db-2d0b73dd2a96","name":"Notion trigger","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[580,426],"credentials":{"notionApi":{"id":"W4Bb643JwBHxezME","name":"Notion API"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.Position }}","operation":"isNotEmpty"},{"value1":"={{ $json.Name }}","operation":"isNotEmpty"},{"value1":"={{ $json.Topic }}","operation":"isNotEmpty"},{"value1":"={{ $json.Image[0] }}","operation":"isEmpty"}]}},"id":"6305e6d2-5e5e-459f-95c3-74273e989c00","name":"Filter out empty and finished records","type":"n8n-nodes-base.filter","typeVersion":1,"position":[800,426]},{"parameters":{"method":"POST","url":"https://get.renderform.io/api/v2/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"template\":\"dusty-tigers-sail-tensely-1990\",\"data\":{\"image.src\":\"{{ $json[\"Image\"][0] }}\",\"topic.text\":\"{{ $json[\"Topic\"] }}\",\"presenter.text\":\"{{ $json[\"Name\"] }}\",\"presenter_title.text\":\"{{ $json[\"Position\"] }}\"}}","options":{}},"id":"cd2236bc-f767-4697-9c4e-a31519f09d67","name":"Generate image [RENDERFORM]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,426],"credentials":{"httpHeaderAuth":{"id":"vsimCHiqWdZ5L4Zo","name":"RenderForm API"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion trigger').item.json[\"id\"] }}","mode":"id","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"},"propertiesUi":{"propertyValues":[{"key":"Social|files","fileUrls":{"fileUrl":[{"name":"social","url":"={{ $json.href }}"}]}}]},"options":{}},"id":"76101f7a-5204-4db8-8e40-f7e3efdab414","name":"Update records [NOTION]","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1240,426],"credentials":{"notionApi":{"id":"W4Bb643JwBHxezME","name":"Notion API"}}},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=up2Wi3Y9a-4).\n2. Remember to add your credentials (covered in the video guide).\n3. Notion template (Social Image Generator) for this workflow available [here](https://shy-angelfish-d73.notion.site/e6bba80db7ce4e34a418058fd1d557ba?v=925a2be608cb44219b5730b621756705&pvs=4) (click \"duplicate\" to add template to your workspace).\n4. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":320.8800052473881,"width":398.52076028843226},"id":"27d180d2-32ac-4dac-87b9-4d6d847ce7d7","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,240]},{"parameters":{"content":"## Trigger\n\nWorkflow is activated every time database is updated (set polling time according to your needs). ","height":369.538552133761,"width":178.9116807727541},"id":"50ca2971-5f88-460a-babb-3cbb3ae353db","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,240]},{"parameters":{"content":"## Filter\n\nFilter out items that already have generated social image or don't include complete data. ","height":369.538552133761,"width":178.9116807727541},"id":"52744c0e-0b0e-4277-8360-6e0ee0b5b8cc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,240]},{"parameters":{"content":"## Generate image and update database row\n\nThis sequence makes a call to [RenderForm](https://renderform.io/) API and updates specific row in Notion database. Remember to update your credentials and template parameters.","height":371.5385521337611,"width":432.9116807727541},"id":"4022b323-2528-468a-bde2-138ce95ad19e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,239]},{"parameters":{"content":"## 🌐 API\n\nThis workflow is using RenderForm API - you can find documentation [here](https://renderform.io/docs/). ","height":127.88000524738811,"width":398.52076028843226},"id":"ec5ab1e3-8044-4f6f-b101-c47e7333c280","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,586]}],"connections":{"Notion trigger":{"main":[[{"node":"Filter out empty and finished records","type":"main","index":0}]]},"Filter out empty and finished records":{"main":[[{"node":"Generate image [RENDERFORM]","type":"main","index":0}]]},"Generate image [RENDERFORM]":{"main":[[{"node":"Update records [NOTION]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"195ef3a5-265d-4f7f-a6eb-b1dcfbcea6a3","triggerCount":0,"tags":[]}